{
    "O3FS_WWW_HTTP_URL": "http://localhost:12345/", 
    "O3FS_WWW_HTTP_HOST": "localhost",
    "O3FS_PORT": "12345", 
    "O3FS_SESSION_SECRET": "secret",
    "O3FS_CONSUMER_KEY_DROPBOX": "",
    "O3FS_CONSUMER_SECRET_DROPBOX": "",
    "O3FS_DB_URI": "mongodb://localhost/o3fs"
}